<div class="wholePage">
  <google-map
    (mapClick)="clk($event)"
    height="40em"
    width="60em"
    [center]="center"
    [zoom]="12"
    streetViewControl:false
    [options]="mapOptions"
  >
    <map-marker
      [position]="marker"
      [options]="markerOptions"
      [icon]="markerIco"
    >
    </map-marker>
  </google-map>

  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Ime ljubimca</mat-label>
      <input
        #petName
        type="text"
        matInput
        [formControl]="nameControl"
        [errorStateMatcher]="matcher"
        placeholder=""
      />
      <mat-error
        *ngIf="
          nameControl.hasError('text') && !nameControl.hasError('required')
        "
      >
        Unesite ime
      </mat-error>
      <mat-error *ngIf="nameControl.hasError('required')">
        Morate uneti <strong>ime</strong>
      </mat-error>
    </mat-form-field>

    <mat-radio-group
      aria-label="vrsta zivotinje"
      #petType
      class="matRadio"
      (change)="radButValChange($event)"
    >
      <mat-radio-button value="1">Pas</mat-radio-button>
      <mat-radio-button value="2">Macka</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Izaberite rasu</mat-label>
      <input
        #petBreed
        type="text"
        matInput
        [formControl]="BreedControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kontakt telefon</mat-label>
      <input
        #petPhone
        type="number"
        matInput
        [formControl]="phoneControl"
        [errorStateMatcher]="matcher"
        placeholder=""
      />
      <mat-error
        *ngIf="
          phoneControl.hasError('number') && !phoneControl.hasError('required')
        "
      >
        Unesite broj telefona
      </mat-error>
      <mat-error *ngIf="phoneControl.hasError('required')">
        Morate uneti <strong>broj telefona</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Dodatne informacije</mat-label>
      <textarea matInput #petDescription></textarea>
    </mat-form-field>

    <h3>Adresa: {{ address }}</h3>

    <button type="button" mat-stroked-button (click)="fileInput.click()">
      Dodajte sliku
      <mat-icon fontIcon="add_a_photo"></mat-icon>
    </button>

    <input
      (change)="selectFile($event)"
      hidden
      #fileInput
      type="file"
      id="file"
    />

    
    <mat-progress-bar
      class="progressBar"
      mode="determinate"
      [value]="percentage"
    >
    </mat-progress-bar>
    <button mat-stroked-button (click)="submit()">
      Objavi <mat-icon fontIcon="check_circle_outline"></mat-icon>
    </button>
  </div>
</div>
