.wholePage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap:1em;
    width:40em;
}
.matRadio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1em;
}