.example-spacer {
  flex: 1 1 auto;
}
.matTB {
  height: 4em;
  padding-left: 6em;
  padding-right: 6em;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: linear-gradient(225deg, #f7d571, #fcde87);
}
a {
  color: inherit;
}
.ico {
  transform: scale(1.5);
  color: #fcf3d7;
}
.btns {
  margin-left: 0.7em;
  margin-right: 0.7em;
}
.img:hover {
  cursor: pointer;
}
