<div>
  <mat-toolbar color="primary" class="matTB">
    <img width="250em" src="../../../assets/photos/logo.png" />
    <!-- <span>Psa nadji</span> -->
    <span class="example-spacer"></span>
    <button
      class="btns"
      (click)="myPetsPage()"
      mat-icon-button
      matTooltip="Moji ljubimci"
    >
      <mat-icon class="ico" fontIcon="pets"></mat-icon>
    </button>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://headlines.peta.org/donate/?en_txn7=Navigation::top-donate-now-button&supporter.appealCode=IXXXWBXXXXG#donate"
    >
      <button
        class="btns"
        mat-icon-button
        matTooltip="Donirajte novac organizaciji za zastitu zivotinja"
      >
        <mat-icon class="ico" fontIcon="volunteer_activism"></mat-icon>
      </button>
    </a>
    <button
      class="btns"
      (click)="auth.signOut()"
      mat-icon-button
      matTooltip="Odjavite se"
    >
      <mat-icon class="ico" fontIcon="logout"></mat-icon>
    </button>
  </mat-toolbar>
</div>
