<router-outlet></router-outlet>
<div *ngIf="hide" class="wholePage">
  <!-- <img
      src="../../../assets/photos/login1.jpg"
      src="../../../assets/photos/login2.jpg"
      class="img"
    /> -->
  <img class="img" src="../../../assets/photos/photo1.jpg" />
  <div class="loginDiv">
    <div *ngIf="auth.user$ | async; then authenticated; else guest">
      <!-- template will replace this div -->
    </div>

    <!-- User NOT logged in -->
    <ng-template #guest>
      <h1>Pomozite izgubljenim ljubimcima da se vrate svojim vlasnicima</h1>
      <h3>Da biste pristupili sajtu povezite se sa vasim Gmail nalogom.</h3>

      <button mat-stroked-button (click)="auth.googleSignin(); hideLogin()">
        <i class="fa fa-google"></i> Connect Google
      </button>
    </ng-template>

    <!-- User logged in -->
    <ng-template #authenticated> </ng-template>
  </div>
</div>
