.wholePage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 4em;
}
h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1em;
  color: rgb(15, 90, 124);
}
.img {
  max-width: 45%;
  max-height: 55em;
  border-radius: 0.7em;
}
.loginDiv {
  width: 30%;
}
.gif{
  position: fixed;
}
