<app-header></app-header>
<div class="wholePage">
  <mat-card>
    <button mat-stroked-button class="btnStyle">
      <div class="imgStyle">
        <img width="100em" src="../../../assets/photos/found.png" />
      </div>
      ljubimci u mojoj okolini
    </button>

    <button mat-stroked-button class="btnStyle" (click)="showForm()">
      <div class="imgStyle">
        <img width="100em" src="../../../assets/photos/lost.png" />
      </div>
      izgubio sam ljubimca
    </button>
  </mat-card>

  <app-lost-pet *ngIf="show"> </app-lost-pet>
</div>
