<app-header></app-header>
<div class="wholePage">
  <!-- <div *ngIf="showLost == false && showFind == false" class="welcomeMessage">
    <h1>
      pozdrav jovane ukoliko ste izgubili psa, nemojte brinuti! unesite njegove
      podatke i ocekujte poziv. Takodje mozete pomoci ostalim vlasnicima da
      pronadju svoje izgubljene ljubimce
    </h1>
    <img src="../../../assets/photos/pas.png" width="250px"/>
  </div> -->
  <div class="cardClass">
    <button mat-stroked-button class="btnStyle" (click)="showFindForm()">
      <div class="imgStyle">
        <img width="100em" src="../../../assets/photos/found.png" />
      </div>
      Ljubimci u mojoj okolini
    </button>

    <button mat-stroked-button class="btnStyle" (click)="showLostForm()">
      <div class="imgStyle">
        <img width="100em" src="../../../assets/photos/lost.png" />
      </div>
      Izgubio sam ljubimca
    </button>
  </div>

  <app-lost-pet *ngIf="showLost"> </app-lost-pet>
  <app-find-pet *ngIf="showFind"> </app-find-pet>
</div>
