/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
html,
body {
  background-color: #fff8e2;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.green-snackbar {
  background: #6bcf74;
  color: white;
}
.mat-simple-snackbar-action {
  color: rgb(202, 202, 202) !important;
}
.red-snackbar {
  background: #d8695a;
  color: white;
}
