.mapClass {
  margin-bottom: 1%;
  background-color: #fcf2d6;
  padding: 1em;
  border-radius: 20px;
}
.infWindow {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.img {
  width: 12em;
  border-radius: 1em;
}
.btn {
  margin-bottom: 1em;
}
.imgDiv{
  width: 12em;
  height: 14em;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 1em;
}