<div class="mapClass">
  <button class="btn" mat-stroked-button (click)="myLocation()">
    Koristi moju lokaciju <mat-icon fontIcon="my_location"></mat-icon>
  </button>
  <google-map
    id="map"
    (mapClick)="mapClk($event)"
    height="500px"
    width="900px"
    [center]="center"
    [zoom]="13"
    streetViewControl:false
    [options]="mapOptions"
  >
    <map-marker
      [position]="myMarker"
      [options]="myMarkerOptions"
      [icon]="myMarkerIco"
    >
    </map-marker>

    <map-marker
      #marker="mapMarker"
      *ngFor="let pet of notFoundPets | async; let i = index"
      id="{{ pet.id }}"
      (mapClick)="openInfoWindow(marker, infoWindow)"
      [position]="getLtLg(pet)"
      [options]="petsMarkerOptions"
      [icon]="petsMarkerIco"
    >
      <map-info-window #infoWindow="mapInfoWindow">
        <div class="infWindow">
          <!-- <h1>{{ imagesArray[i] }}</h1> -->
          <img src="{{ imagesArray[i] }}" class="img" />
          <div>
            <h1>
              Zdravo, ovo na slici sam ja. Odazivam se na ime
              <strong>{{ pet.name }}</strong> i izgubio sam se dana
              <strong>{{ pet.date }} </strong>na ovoj lokaciji. Rase sam
              <strong>{{ pet.breed }}</strong> i ako me vidis obavesti mog
              vlasnika na broj
              <strong>{{ pet.phoneNumber }}</strong>
            </h1>
          </div>
        </div>
        <h3>Opis nestanka: {{ pet.description }}</h3>
        <h3>
          {{ getDistanceFromLatLonInKm(myMarker, getLtLg(pet)) }}
        </h3>
      </map-info-window>
    </map-marker>
  </google-map>
</div>
